

<%= form_tag process_file_cleaners_path, html: {multipart: true}, remote: true, id: 'upload-form' do %>
  <label for="file" class="upload-label">File to Upload</label>
  <%= file_field_tag :file, id: "upload-log" %>
  <br>
  <%= submit_tag( "Make my log awesome", :class => "btn btn-primary" ) %>
  <%= image_tag "ajax-loader.gif", :style=> "display:none", id: 'loader' %>
<% end %>
<br/>
<div id="download-container"></div>
<br/>
