/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$navbarBackground: #2A3688;
$navbarBackgroundHighlight: #2A3688;
$navbarBrandColor: #CEECFB;

$iconSpritePath: "/assets/twitter/bootstrap/glyphicons-halflings";
$iconWhiteSpritePath: "/assets/twitter/bootstrap/glyphicons-halflings-white";



@import url(http://fonts.googleapis.com/css?family=Raleway:200,100,800);
@import "bootstrap";
html, body{height: 100%;}
.container-fluid, .row-fluid{height: 90%}

.brand {
	font-family: 'Raleway', sans-serif;
}

.btn, .upload-label {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}


